---
import '../styles/global.css';

const pageTitleInicio = "Página de inicio";
const pageTitleAbout = "Sobre mi";
const pageTitleBlog = "Mi blog de Astro aprendizaje";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
    <a href="/">{pageTitleInicio}</a>
    <a href="/about/">{pageTitleAbout}</a>
    <a href="/blog/">{pageTitleBlog}</a>
    <h1>Mi sitio ASTRO</h1>
  </body>
</html>